* {
  margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
line-height: 1.6;
color: #333;
}

header {
position: fixed;
top: 0;
width: 100%;
background: #2e7d32;
z-index: 1000;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
}

nav h1 {
color: #fff;
font-size: 1.3rem;
}

nav ul {
list-style: none;
display: flex;
gap: 1.5rem;
}

nav a {
text-decoration: none;
color: #fff;
font-size: 0.9rem;
}

nav a:hover {
text-decoration: underline;
}

.hero {
height: 100vh;
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
url('https://images.unsplash.com/photo-1501004318641-b39e6451bec6?auto=format&fit=crop&w=1350&q=80');
background-size: cover;
background-position: center;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
text-align: center;
color: #fff;
padding: 2rem;
margin-top: 70px;
}

.hero h2 {
font-size: 2.5rem;
margin-bottom: 1rem;
}
.hero p {
font-size: 1.1rem;
margin-bottom: 2rem;
}

.btn {
background: #ffca28;
color: #333;
padding: 0.8rem 1.8rem;
border: none;
border-radius: 4px;
font-size: 1rem;
cursor: pointer;
transition: background 0.3s, transform 0.2s;
}

.btn:hover {
background: #ffc107;
}

.btn:active {
transform: scale(0.95);
}

.content {
display: flex;
gap: 2rem;
padding: 4rem 2rem;
max-width: 1100px;
margin: auto;
}

.content img {
width: 100%;
border-radius: 8px;
}

.text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
flex: 1;
}

.image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
flex: 1;
}

.text h3 {
margin-bottom: 1rem;
color: #2e7d32;
}

@media (max-width: 700px) {
.content {
flex-direction: column;
}

.hero h2 {
font-size: 2rem;
}
}

.features {
  background: #f5f5f5;
  padding: 4rem 2rem;
  text-align: center;
}

.features h3 {
  color: #2e7d32;
  margin-bottom: 2rem;
}

.feature-box {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .feature-box {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 10px 40px rgba(56, 186, 38, 0.444);
}

.card img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.cards {
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
   box-shadow: 0 10px 40px rgba(56, 186, 38, 0.444);
}

.cards img {
  width: 100%;     
  height: 180px;    
  object-fit: cover;
  display: block;   
}

.cardss {
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
   box-shadow: 0 10px 40px rgba(56, 186, 38, 0.444);
}

.cardss img {
  width: 100%;      
  height: 180px;   
  object-fit: cover;
  display: block;   
}

footer {
background: #2e7d32;
color: #fff;
text-align: center;
padding: 1rem;
}



